<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
<style>
table {
    border-collapse: collapse;
}
caption {
    padding-bottom: 10px;
}
.calendar {
    border-collapse: collapse;
    width: 10%;
    margin-left: 750px;
}
.calendar th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.calendar th {
    background-color: black;
    color: white;
    font-weight: bold;
}
.calendar tr:nth-child(even) {
    background-color: lightgrey;
}
.aaa {
    color: red;
}
</style>
</head>
<body>

</body>
</html>
